<!-- <app-movie-search></app-movie-search> -->
<!-- <app-three-inputs-search></app-three-inputs-search> -->
<ul>
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Main Movie Search
  </li>
  <li routerLink="/population" routerLinkActive="active">
    Population and Total Minutes
  </li>
  <li
    routerLink="/favourite-movie-list"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Favourite Movie List
  </li>
  <li routerLink="/my-movies" routerLinkActive="active">My Movies List</li>
</ul>
<router-outlet></router-outlet>
