<div class="movi-search-container">
  <div>
    <button routerLink="/create-your-movie" routerLinkActive="active">
      Click here and Create Your Movie
    </button>
  </div>
  <h2>SEARCH YOUR MOVIE</h2>
  <input type="text" [formControl]="searchMovie" />
  <ng-container *ngIf="movieSearchResult$ | async as movieInfo">
    <div class="searched-movie" *ngIf="movieInfo[0] as movie">
      <div class="searched-movie-poster">
        <img [src]="movie.Poster" alt="" />
      </div>

      <div class="movie-info">
        <h2>{{ movie.Title }}</h2>
        <ul>
          <li>Actors: {{ movie.Actors }}</li>
          <li>Released: {{ movie.Released }}</li>
          <li>
            Age: Movie is {{ calculateMovieAge(movie.Released) }} years old
          </li>
          <ng-container>
            <li>
              Country name:
              <span *ngFor="let countriesInfo of movieInfo[1]"
                >{{ countriesInfo.name }}
              </span>
            </li>
            <li>
              Flag:
              <span *ngFor="let countriesInfo of movieInfo[1]">
                <img src="{{ countriesInfo.flags }}" alt="" />
              </span>
            </li>
            <li>
              Currencies:
              <span *ngFor="let countriesInfo of movieInfo[1]">
                {{ getCurrencies(countriesInfo.currencies) }}
              </span>
            </li>
          </ng-container>
        </ul>
        <button
          class="add-to-favourite"
          (click)="shareFavoriteMovie(movieInfo[0], movieInfo[1], movieInfo[2])"
          *ngIf="!addedMovieButton"
        >
          Add to my fovarourite
        </button>
        <div class="movie-already-added" *ngIf="addedMovieButton">
          This movie is already added to favorite list
        </div>
      </div>
    </div>
  </ng-container>
</div>
