// Variables
$primary-color: #4285f4;
$secondary-color: #ea4335;
$background-color: #f2f2f2;
$font-family: "Open Sans", sans-serif;

ul li {
  list-style: none;
}

// Styles
.movi-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
    animation: fadeIn 1s ease-in-out;
  }

  input[type="text"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px $primary-color;
    }
  }

  .searched-movie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 1s ease-in-out;

    p {
      margin: 0.5rem 0;
      font-size: 1.2rem;
      font-weight: bold;
      color: $secondary-color;

      &:nth-child(2n) {
        color: $primary-color;
      }
    }
  }

  .movie-additional-info {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary-color;
      animation: fadeIn 1s ease-in-out;
    }

    div {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: $secondary-color;
      }

      img {
        width: 50px;
        height: auto;
      }
    }
  }
}

// Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
